#btnAudioGH {
  height: 44px;
  width: 44px;
  
  background: linear-gradient(
    0deg,
    #1c1e59 0%,
    #0b7fee 100%
  );

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#btnAudioGH::after {
  border-radius: 50%;
  position: absolute;
  top: -3px; bottom: -3px;
  left: -3px; right: -3px;
  background: linear-gradient( #6f1874, #af28b5);
  content: '';
  z-index: -1;
}

#btnAudioGH:hover {
  background-color: #0b7f0a;
}
