.borderCard {
  display: inline-block;

  width: 200px;

  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 20%);

  background: linear-gradient(0deg, #1c1e59 0%, #af28b5 100%);
  padding: 3px;
}

.borderCard:first-of-type {
  margin-right: 15px;
}
.borderCard:last-of-type {
  margin-left: 15px;
}

.borderCard:not(:first-of-type):not(:last-of-type) {
  margin-left: 15px;
  margin-right: 15px;
}

.imageCard {
  position: relative;
  display: block;

  margin: 0;
  padding: 0;

  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
}

.playerImage {
  display: inline-block;
  aspect-ratio: 566 / 720;

  width: 100%;
  height: 100%;

  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 20%);

  background-color: #212529;
  background-image: url("../sources/images/body/loader-player.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.playerImage:hover {
  transition: transform 0.6s;
  transform: scale(1.05);
}
.playerImage:hover ~ .namePlayer {
  font-weight: 700;
}

.namePlayer {
  position: absolute;

  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);

  clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0% 30%);
  background: linear-gradient(0deg, #1c1e59 0%, #af28b5 100%);
  color: whitesmoke;

  width: 110px;
  text-align: center;
}
