/* Media Queries */

@media (min-width: 0px) and (max-width: 767px) {
  .footerType {
    font-size: 7px !important;
  }
  .footerDate {
    font-size: 8px !important;
  }
  .recomendacionFooter {
    height: 18px !important;
  }
  .playImage {
    width: 30px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footerType {
    font-size: 9px;
  }
  .playImage {
    width: 40px !important;
  }
}

.containerCardProgram {
  border-radius: 10px;
  border: solid #212529 2px;
  border-bottom: none;
}

.containerImages {
  display: block;
  position: relative;
  width: 100%;
}

.programImage {
  display: inline-block;
  aspect-ratio: 480 / 270;

  width: 100%;
  height: 100%;

  border-top-left-radius: 7px;
  border-top-right-radius: 7px;

  background-color: #212529;
  background-image: url("../sources/images/body/loader-program.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.playImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50px;
  height: auto;

  filter: grayscale(1);
  opacity: 0.7;
}

.playImage:hover {
  filter: grayscale(0);
}

.recomendacionFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  height: 23px;

  padding-top: 3px;
  padding-bottom: 3px;

  font-family: common-regular, common-regular;
  font-size: 10px;

  background: linear-gradient(0deg, #212529 0%, #78281f 100%);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.footerDate {
  color: aliceblue;
}

.footerType {
  font-size: 9.5px;
}
