/* Media Queries */

@media (min-width: 0px) and (max-width: 767px) {
  .modalImage {
    height: 120px !important;
    width: 120px !important;
  }

  .modalBody {
    font-size: 15px !important;
  }
  .headerAccordion{
    font-size: 15px !important;
  }
  .modalRedesContainer{
    padding-left: 15px !important;
  }  
  .modalPresentacionTitle {
    font-size: 15px !important;    
  }
  .alignContentInfoPlayer {
    font-size: 15px !important;    
  }
  .modalEstadoContainer {
    font-size: 12px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .modalImage {
    height: 150px !important;
    width: 150px !important;
  }
}

.classModalContent{
  background-color: #212529 !important;
  border: none !important;
}

/* Modal Header */

.modalHeader {
  background-color: #212529;
  color: whitesmoke;
  border-bottom: none;
}

.modalHeader > button {
  filter: invert(1);
}

.modalHeaderText {
  font-size: 21px;
}

/* Modal Body */

.modalBody {
  background-color: whitesmoke;
  color: #212529;

  font-size: 16px;
}

.modalInfoContainer {
  min-height: 200px;
}

.modalDescriptionContainer {
  text-align: justify;
}

.modalImage {
  float: left;
  height: 200px;
  width: 200px;

  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;

  margin-right: 15px;

  border-radius: 5px;
  border: solid #212529 2px;
}

.anioCumplidos {
  margin-left: 5px;
}

#accordionRedesSociales{
  margin-top: 20px;
  margin-bottom: 20px;
}

.headerAccordion{
  background-color: #CFE2FF;
  color: #212529 !important;
  font-size: 16px;
}

.modalRedesContainer {
  margin-top: 0px;
  margin-bottom: 0px;
}

.modalRedesLink {
  text-decoration: none;
  color: #1c1e59;
  /* for Chrome */
  word-wrap: break-word;
}

.modalRedesLink:hover {
  color: #af28b5;
}

.modalPresentacionContainer {
  background: #212529;
  border-radius: 5px;

  display: flex;
  flex-direction: column;

  border: solid black 2px;
}

.modalPresentacionTitle {
  height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  color: whitesmoke;
}

.modalPresentacionIframe {
  width: 100%;
  height: 400px;
  border-radius: 0px 0px 5px 5px;
}

/* Modal Footer */

.modalFooter {
  background-color: #212529;
  color: whitesmoke;
  border-top: none;
}

.alignContentInfoPlayer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.modalEstadoContainer {
  border: solid whitesmoke 1px;
  font-size: 13px;
}
