/* Media Queries */

@media (min-width: 0px) and (max-width: 767px) {
  #containerInformation {
    padding-left: 20px !important;
    padding-right: 20px !important;

    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  #tableContainer {
    width: 100% !important;
  }

  .hostImage {
    height: 200px !important;
    margin-right: 20px !important;
  }

  #textIDTable {
    padding-left: 8px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #containerInformation {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  #tableContainer {
    width: 100% !important;
  }

  .hostImage {
    height: 300px !important;
  }
}

#containerInformation {
  padding-left: 60px;
  padding-right: 60px;

  padding-top: 30px;
  padding-bottom: 30px;

  background-color: gainsboro;
  min-height: 460px;
}

.ancla:before {
  display: block;
  content: " ";
  margin-top: -56px;
  height: 56px;
  visibility: hidden;
}

.hostImage {
  width: auto;
  height: 400px;

  float: left;

  margin-right: 30px;

  border-radius: 5px;
  border: groove #0b7fee 2px;

  background-color: #212529;
  background-image: url("../sources/images/body/loader-host.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.descriptionContainer {
  text-align: justify;
}

.diasDeJuego {
  margin-left: 5px;
}

/* Table */

.headerNumberTable {
  width: 30px !important;
}

.headerPrizeTable {
  padding-right: 22px !important;
}

#tableContainer {
  display: inline-block;
  margin-top: 15px;

  border: solid gray 1px;
  border-radius: 7px !important;

  /* Se aplica en Chrome */
  width: calc(100vw - 435px);
}

/* Se aplica en  Firefox */
@-moz-document url-prefix() {
  #tableContainer {
    width: calc(100vw - 418px) !important;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    #tableContainer {
      width: 100% !important;
    }
  }

  @media (min-width: 0px) and (max-width: 767px) {
    #tableContainer {
      width: 100% !important;
    }
  }
}

.textClassTable {
  padding-left: 15px !important;
}

.observation {
  font-size: 12px;
}
