/* Media Queries */

@media (min-width: 0px) and (max-width: 991px) {
  #navbarbrand {
    width: calc(100% - 56px);
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  #containerNavegation > nav {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}

#navbarbrand {
  height: 100% !important;
  padding: 0;
  margin: 0;
}

.fuenteTitle {
  color: whitesmoke;
}

.fuenteLink {
  color: whitesmoke;
}

.fuenteLink:hover {
  background: rgb(11, 122, 240);
  background: linear-gradient(
    90deg,
    rgba(11, 122, 240, 1) 0%,
    rgba(11, 102, 216, 1) 100%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.imgFavicon {
  width: 34px;
  height: 34px;
  margin-right: 30px;
}

.imgLink {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

#containerNavegation > nav > div > button {
  border: 1px solid #0b7fee !important;
}

#containerNavegation > nav > div > button > span {
  background-image: url("../sources/images/GH2023.png") !important;
}

/* Links */

.itemsNavbar {
  text-decoration: none;
}

.marginItemsNavbar {
  margin-right: 30px;
}

.lastItemsNavbar {
  padding-right: 0 !important;
}