/* Media Queries */

@media (min-width: 0px) and (max-width: 767px) {
  .infoPages {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}

#footer {
  width: 100%;
  height: 37px;
  left: 0px;
  bottom: 0px;
  clear: both;
}

#footerContainer {
  width: 100%;
  height: 100%;

  padding-left: 15px;
  padding-right: 15px;
}

/* Pagination */

.anclaje {
  text-decoration: none;
}

.containerMain {
  height: 33px;
  width: 33px;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 0 2px #353535, 0 0 0 2px #3e3e3e, inset 0 0 10px #21252980;
}

.containerControl {
  height: 27px;
  width: 27px;
  border-radius: 20px;
  background: radial-gradient(circle, #78281f 0%, #212529 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.imgControl {
  width: 17px;
  height: 17px;
  object-fit: cover;
}

.infoPages {
  color: #212529;
  font-size: 18px;
  width: 55px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
