/* Media Queries */

@media (min-width: 0px) and (max-width: 767px) {
  #containerPlayers {
    padding-left: 20px !important;
    padding-right: 20px !important;
    
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #containerPlayers {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

#containerPlayers {
  padding-left: 60px;
  padding-right: 60px;

  padding-top: 30px;
  padding-bottom: 30px;

  background-color: whitesmoke;
}

.sectionTitlePlayer {
  display: block;
  text-align: center;
  font-size: 23px;
  margin-bottom: 17px;
}

.ancla:before {
  display: block;
  content: " ";
  margin-top: -56px;
  height: 56px;
  visibility: hidden;
}

.textPlayer {
  text-align: justify;
}

.scrollingWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  padding-bottom: 22px;

  padding-left: 0;
  padding-right: 0;
}

.containerCardsPlayers {
  margin-top: 30px;
  margin-bottom: 20px;
}

.linkInscription {
  text-decoration: none;
}