/* Media Queries */

@media (min-width: 0px) and (max-width: 767px) {
  .containerInfo {
    margin-left: 18px !important;
  }
  #containerBtnAudio {
    margin-right: 18px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .containerInfo {
    margin-left: 18px !important;
  }
  #containerBtnAudio {
    margin-right: 18px !important;
  }
}

#containerPresentation {
  height: calc(100vh - 56px);

  margin-top: 56px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#presentationVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#containerBtnAudio {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 54px;
  margin-bottom: 28px;
  z-index: 1;
}

.containerInfo {
  position: absolute;

  width: 50px;
  height: calc(100vh - 56px - 25px - 25px);

  margin-left: 54px;
  margin-top: 25px;

  border-radius: 28px;

  background-color: #212529;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding-top: 25px;
  padding-bottom: 25px;
}

.linkFollow {
  display: flex;
  justify-content: center;
}
