/* Media Queries */

@media (min-width: 0px) and (max-width: 767px) {
  #containerPrograms {
    padding-left: 20px !important;
    padding-right: 20px !important;

    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #containerPrograms {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

#containerPrograms {
  padding-left: 60px;
  padding-right: 60px;

  padding-top: 30px;
  padding-bottom: 30px;

  background-color: gainsboro;
}

.ancla:before {
  display: block;
  content: " ";
  margin-top: -56px;
  height: 56px;
  visibility: hidden;
}

.sectionTitleProgram {
  margin-bottom: 30px;
}

.titleProgram {
  display: block;
  text-align: center;
  font-size: 23px;
}
