/* Media Queries */

@media (min-width: 0px) and (max-width: 767px) {
  .modalHeaderContent {
    font-size: 15px !important;
  }
}

.classModalContent{
  background-color: #212529 !important;
  border: none !important;
}

/* Modal Header */

.modalHeader {
  background-color: #212529;
  color: whitesmoke;

  height: 50px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;

  border-bottom: none !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.modalHeaderContent {
  width: 100%;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;

  font-size: 16px;
}

.modalHeader > button {
  filter: invert(1);
}

#iframeProgram {
  width: 100%;
  height: 400px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
